html, body {
    height: 100%; /* Ensure full height for both html and body */
    margin: 0; /* Remove default margin */
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/authentication_background.png'); /* Replace 'your-image.jpg' with your image file path */
    background-size: 100% 100%; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.login-container {
    background-color: #121212; /* Dark background for the container */
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    color: #1DB954;
}

.logo {
    width: 28px; /* Adjust size as needed */
    height: auto;
    margin-right: 8px; /* Space between the logo and text */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #B3B3B3;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

a {
    color: #007bff; /* Change link color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Add underline on hover */
}
